@font-face {
  font-family: "TomFont";
  src: url("/tommys-first-alphabet/tommys.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #333333;
  font-family: "TomFont";
  font-size: 64px;
  color: #fff;
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-bottom: 40px;
}

img {
  display: block;
  width: 80vw;
}

.gift {
  color: #ffc32b;
}
