@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
body {
  margin: 0;
  background: #000;
  padding-top: 40px;
  padding-left: 10px;
  font-size: 14px;
  color: #1ae027;
  font-family: "Source Code Pro", monospace;
}

.box {
  display: flex;
  flex-direction: column;
}

input {
  background: #000;
  font-size: 14px;
  color: #1ae027;
  font-family: "Source Code Pro", monospace;
  border: none;
  outline: 0;
  outline-offset: 0;
}

input:active {
  background: #000;
  font-size: 14px;
  color: #1ae027;
  font-family: "Source Code Pro", monospace;
  outline: 0;
  outline-offset: 0;
}

.btn {
  text-align: left;
  padding: 0;
}

input::placeholder {
  font-size: 14px;
  color: #1ae027;
  font-family: "Source Code Pro", monospace;
}
